.swiper-container {
    display: flex;
    justify-content: center; /* Ensure the container is centered */
  }
  
  
  
  .swiper-slide {
    display: flex;
    justify-content: center; /* Center the content of each slide */
    align-items: center;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
  
  color: white; /* White color for the icons */
  
  }
  